<section class="shop-hero-section">
  <div class="shop-hero-content">
    <div class="shop-all-title">JUCING MADRID SINCE 2000</div>
    <h1 class="shop-title">24 Years Fresh</h1>
    <p class="description">
      Independently owned and operated since opening our doors in 1999,
      thousands of New Yorkers make their way to Juice Generation every day for
      their fix of signature juices, smoothies, and açaí bowls. They’re part of
      a growing movement of people who believe, just like we do, that healthy
      living can be accessible to everyone—and that the key to a sustainable
      lifestyle is creating good habits that stick.
    </p>
  </div>
</section>
