<section class="career-hero-section">
  <div class="shop-hero-content">
    <div class="shop-all-title">CAREERS</div>
    <h1 class="shop-title">
      JUICE UP <br />
      YOUR CAREER!
    </h1>
    <p class="description">
      We believe a big part of healthy living is working in a place that
      supports your personal and professional growth. Juice Generation offers a
      health-minded, upbeat environment where you can sharpen your skills, grow
      your career, and really thrive.
    </p>
    <button class="btn button mt-4">APPLY NOW</button>
  </div>
</section>
