<div>
  <!-- sidebar  -->
  <div class="sidebar-title">
    <h3>Categories</h3>
    <ul>
      <li><input type="checkbox" /><span>All Products</span></li>
      <li>
        <input type="checkbox" /><span>Fruits (50)</span>
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li>
        <input type="checkbox" /><span>Tropical Fruits (51)</span>
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li>
        <input type="checkbox" /><span>Vegetables (190)</span>
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li>
        <input type="checkbox" /><span>Appetizers (130)</span>
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li>
        <input type="checkbox" /><span>Spices and Aromatics (134)</span>
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li>
        <input type="checkbox" /><span>Products of the World (504)</span>
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li>
        <input type="checkbox" /><span>Pastries, Eggs, Dairy (3)</span>
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li>
        <input type="checkbox" /><span>Healthy (21)</span>
        <i class="fa-solid fa-angle-right"></i>
      </li>
    </ul>
  </div>
  <!-- Offers  -->
  <div class="sidebar-title mt-5">
    <h3>Offers</h3>
    <ul>
      <li><input type="checkbox" /><span>All Offers</span></li>
      <li><input type="checkbox" /><span>Oferta</span></li>
    </ul>
  </div>

  <!-- Maturation  -->
  <div class="sidebar-title mt-5">
    <h3>Maturation</h3>
    <div class="search-box">
      <input type="text" class="form-control" placeholder="Search here" />
      <span class="search-icon"><i class="fas fa-search"></i></span>
    </div>
    <ul>
      <li><input type="checkbox" /><span>Verde</span></li>
      <li><input type="checkbox" /><span>Pinton</span></li>
      <li><input type="checkbox" /><span>Amarillo</span></li>
    </ul>
  </div>

  <!-- Vitamins  -->
  <div class="sidebar-title mt-5">
    <h3>Vitamins</h3>
    <ul>
      <li><input type="checkbox" /><span>A</span></li>
      <li><input type="checkbox" /><span>B</span></li>
      <li><input type="checkbox" /><span>C</span></li>
    </ul>
    <button class="load-more-btn">Load More</button>
  </div>

  <!-- Fats  -->
  <div class="sidebar-title mt-5">
    <h3>Fats</h3>
    <ul>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 10g</span
        >
      </li>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 20g</span
        >
      </li>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 30g</span
        >
      </li>
    </ul>
    <button class="load-more-btn">Load More</button>
  </div>

  <!-- Carbohydrate  -->
  <div class="sidebar-title mt-5">
    <h3>Carbohydrate</h3>
    <ul>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 10g</span
        >
      </li>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 20g</span
        >
      </li>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 30g</span
        >
      </li>
    </ul>
    <button class="load-more-btn">Load More</button>
  </div>

  <!-- Proteins  -->
  <div class="sidebar-title mt-5">
    <h3>Proteins</h3>
    <ul>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 10g</span
        >
      </li>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 20g</span
        >
      </li>
      <li>
        <input type="checkbox" /><span
          ><i class="fa-solid fa-angle-left"></i> 30g</span
        >
      </li>
    </ul>
    <button class="load-more-btn">Load More</button>
  </div>
  <!-- Availability  -->
  <div class="sidebar-title mt-5">
    <h3>Availability</h3>
    <ul>
      <li><input type="checkbox" /><span>Hide out of stock</span></li>
    </ul>
  </div>
  <!-- Rating  -->
  <div class="sidebar-title mt-5">
    <h3>Rating</h3>
    <ul>
      <li>
        <input type="checkbox" />
        <span class="ratting">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
      </li>
      <li>
        <input type="checkbox" />
        <span class="ratting">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
      </li>
      <li>
        <input type="checkbox" />
        <span class="ratting">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
      </li>
      <li>
        <input type="checkbox" />
        <span class="ratting">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
      </li>
      <li>
        <input type="checkbox" />
        <span class="ratting">
          <i class="fa-regular fa-star"></i>
        </span>
      </li>
    </ul>
  </div>

  <!-- Tags  -->
  <div class="sidebar-title mt-5">
    <h3>Tags</h3>
    <div class="search-box">
      <input type="text" class="form-control" placeholder="Search here" />
      <span class="search-icon"><i class="fas fa-search"></i></span>
    </div>
    <ul>
      <li><input type="checkbox" /><span>Sin gluten</span></li>
      <li><input type="checkbox" /><span>Sin sal</span></li>
      <li><input type="checkbox" /><span>Bio</span></li>
    </ul>
    <button class="load-more-btn">Load More</button>
  </div>
</div>
