<footer class="footer">
  <!--  Footer -->
  <div class="custom-container top-footer gap">
    <div
      class="row d-flex justify-content-between align-items-center"
      style="width: -webkit-fill-available"
    >
      <div class="col-12 col-md-3 pe-6 d-flex justify-content-center">
        <a href="/src/screen/home/index.html">
          <img
            src="../../assets/logo/footer-logo.png"
            alt="The Fruits of the World Logo"
            style="width: auto; height: 261px; margin-top: -50px"
          />
        </a>
      </div>
      <div class="col-12 col-md-9 ps-6">
        <div class="row text-center text-sm-start justify-content-around">
          <div class="col-md-2 col-sm-4">
            <h3>Shop</h3>
            <ul class="list-unstyled mt-3">
              <li><a href="#">Cooler Cleanse</a></li>
              <li><a href="#">Activated Nutrition</a></li>
              <li><a href="#">Juiced Gelato</a></li>
              <li><a href="#">Collection</a></li>
              <li><a href="#">The Book</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4">
            <h3>Company</h3>
            <ul class="list-unstyled mt-3">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Sustainability</a></li>
              <li><a href="#">Growing It Back</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">JG Press</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-4">
            <h3>Stores</h3>
            <ul class="list-unstyled mt-3">
              <li><a href="#">Locations</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Ingredients</a></li>
              <li><a href="#">Order Ahead</a></li>
              <li><a href="#">Delivery</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4">
            <h3>Support</h3>
            <ul class="list-unstyled mt-3">
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Shipping & Returns</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-4">
            <h3>Services</h3>
            <ul class="list-unstyled mt-3">
              <li><a href="#">Gift Card</a></li>
              <li><a href="#">Reward</a></li>
              <li><a href="#">Download the app</a></li>
            </ul>

            <a href="tel:+">
              <img
                src="../../assets/icons/whatsapp-icon.png"
                alt=""
                srcset=""
                height="36px"
                width="36px"
                class="rounded-2"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="border: 1px solid #ffffff" />

  <!-- sub Footer -->
  <div class="custom-container mt-5 text-center text-sm-start">
    <div class="row">
      <div class="col-md-8 d-flex justify-content-start align-items-end">
        <p class="mb-0">
          Copyright © The Fruits Of The World S.L. ALL RIGHT RESERVED <br />
          The Fruits Of The World Name, Logo, and related marks are the
          trademark of The Fruits Of the World S.L.
        </p>
      </div>
      <div
        class="col-md-4 justify-content-start align-items-end d-none d-md-inline"
      >
        <div class="row">
          <p class="mb-0 me-3">
            GET ALL THE JUICE! AND RECEIVE 10% OFF YOUR FIRST ORDER.
          </p>
        </div>
        <div class="row mt-2">
          <form class="d-flex">
            <input
              type="email"
              class="form-control email-input me-2"
              placeholder="Your email address"
            />
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <div class="footer-buttons d-flex flex-column gap-2">
  <button class="btn btn-light"><a href="mailto:">Chat</a></button>
  <button class="btn btn-light"><a href="tel:+">Videollamada</a></button>
</div> -->

<div class="footer-buttons d-flex flex-column">
  <button
    class="btn btn-light"
    style="border-bottom: 1px solid #bacc5e !important"
    id="chat"
  >
    <a href="#"><i class="fas fa-comment-dots"></i></a>
  </button>

  <button class="btn btn-light" id="">
    <a href="#"><i class="fa-solid fa-video"></i></a>
  </button>
</div>
