<headers>
  <!-- Top Header -->
  <div class="top-header">
    <div class="logo-title">
      <a href="/src/screen/home/index.html">
        <img src="../../assets/logo/logo.png" alt="Logo" class="logo" />
      </a>
      <span class="title" style="color: #333333">THE FRUITS OF THE WORLD</span>
    </div>
    <!-- <div class="search-box d-none d-xl-inline">
      <input type="text" class="form-control" placeholder="Search here" />
      <span class="search-icon"><i class="fas fa-search"></i></span>
      <span class="same-day-delivery"><a href="#">Same day delivery</a></span>
    </div> -->
    <div class="col-lg-4 col-md-3 d-none d-md-block">
      <div class="customer-service">
        Customer Service<br /><span>
          <b><a href="tel:+01234566778">+01234566778</a></b>
        </span>
      </div>
    </div>
    <div class="header-icons">
      <span class="d-none d-md-inline"><i class="fas fa-globe"></i> ENG</span>
      <span id="cart-icon" class="d-none d-md-inline"
        ><i class="fas fa-shopping-cart"></i
      ></span>
      <span><i class="fa-regular fa-user"></i></span>
    </div>
  </div>
</headers>
