<div class="product-card">
  <!-- <h3 class="discount-badge">-50%</h3> -->
  <h3 class="kg">
    <img
      class="kg-icon"
      src=""./src/assets/icons/kg-icon.png"
      alt=""
      srcset=""
    />
  </h3>
  <!-- <i class="fas fa-heart love-icon"></i> -->
  <img class="love-icon" src="./src/assets/icons/heart.png" alt="" />
  <img
    src=""./src/assets/images/products/products.png"
    alt="Product Image"
    class="product-image"
  />
  <div class="product-content">
    <h3 class="price">4,99€ / kg</h3>
    <p class="old-price">(5,99€ / kg)</p>
    <h3 class="product-title">Organic Banana</h3>
    <p class="product-weight">Approximate weight 135g</p>
    <p class="product-quantity">1,2 kg aprox</p>
  </div>
  <br />
  <br />

  <div class="custom-button mt-3">
    <!-- <div class="icon">
                <i class="fas fa-trash-alt"></i>
              </div> -->
    <!-- <button class="plus-button" onclick="decreaseQuantity(this)">
      <i class="fas fa-minus"></i>
    </button> -->

    <div class="icon">
      <i class="fas fa-trash-alt"></i>
    </div>

    <input type="text" class="quantity-input form-control" value="1" min="1" />
    <button class="plus-button" onclick="increaseQuantity(this)">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
