<div class="product-card">
  <h3 class="discount-badge">-50%</h3>
  <!-- <i class="fas fa-heart love-icon"></i> -->
  <img class="love-icon" src="../../assets/icons/heart.png" alt="" srcset="" />
  <img
    src="../../assets/images/products/products.png"
    alt="Product Image"
    class="product-image"
  />
  <div class="product-content mb-2">
    <h3 class="price">4,99€ / kg</h3>
    <p class="old-price">(5,99€ / kg)</p>
    <h3 class="product-title">Organic Banana</h3>
    <p class="product-weight">Approximate weight 135g</p>
    <p class="product-quantity">BIO</p>
    <p class="product-quantity mb-3">Gluten free</p>
  </div>
  <br />
  <button
    class="btn btn-add-to-cart w-100 py-2 d-flex m-auto justify-content-center add-btn"
  >
    Add
  </button>
</div>
