<link rel="stylesheet" href="../assets/css/style.css" />

<!-- Notice with Marquee  -->

<div class="widget block block-static-block">
  <div
    data-content-type="html"
    data-appearance="default"
    data-element="main"
    data-decoded="true"
  >
    <section class="marquee-line marquee-line--white">
      <div class="marquee-line__wrapper">
        <marquee behavior="" direction="">
          <ul class="marquee-line__list pt-3">
            <li>JUCING MADRID SINCE 2000.</li>
            <li>JUCING MADRID SINCE 2000</li>
            <li>JUCING MADRID SINCE 2000.</li>
            <li>JUCING MADRID SINCE 2000</li>
            <li>JUCING MADRID SINCE 2000.</li>
            <li>JUCING MADRID SINCE 2000</li>
          </ul>
        </marquee>
      </div>
    </section>
  </div>
</div>
<div class="custom-container my-5 top-footer">
  <div class="row align-items-start row-gap-5 w-100">
    <!-- Left Section -->
    <div class="col-12 col-md-3 text-center">
      <div class="title">
        24 <br />Years <br />
        Fresh
      </div>
      <button class="button mt-3">See all locations</button>
    </div>

    <!-- Right Section -->
    <div class="col-12 col-md-9 justify-content-center">
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="scroll-container w-100 pb-5">
          <div class="me-xl-5" style="width: 697px">
            <div
              style="width: 697px"
              class="row d-flex justify-content-center align-items-center"
            >
              <div style="width: 300px">
                <img
                  src="../../assets/images/top-footer.png"
                  alt="Dummy Image"
                  class="image-placeholder"
                  style="width: 100%; height: auto"
                />
              </div>
              <div style="width: 373px">
                <h4 class="mt-3">Tienda de Pozuelo de Alarcón</h4>
                <div class="row">
                  <div
                    class="col-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../assets/icons/google-maps.svg"
                      class="google-map-icon"
                      alt="Google Map Icon"
                    />
                  </div>
                  <div class="col-10">
                    Avenida de Europa, 23, Local 5<br />
                    28224 Pozuelo de Alarcón (Madrid)<br />
                    España.
                  </div>
                </div>

                <p class="mb-1"><strong>JUICING SINCE 2000</strong></p>
                <a href="#" class="store-link">View Store Info</a>
              </div>
            </div>
          </div>
          <div class="border-left-custom py-4"></div>
          <div class="col-md-8" style="width: 697px">
            <div
              style="width: 697px"
              class="row d-flex justify-content-center align-items-center"
            >
              <div style="width: 300px">
                <img
                  src="../../assets/images/top-footer.png"
                  alt="Dummy Image"
                  class="image-placeholder"
                  style="width: 100%; height: auto"
                />
              </div>
              <div style="width: 373px">
                <h4 class="mt-3">Tienda de Pozuelo de Alarcón</h4>
                <div class="row">
                  <div
                    class="col-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../assets/icons/google-maps.svg"
                      class="google-map-icon"
                      alt="Google Map Icon"
                    />
                  </div>
                  <div class="col-10">
                    Avenida de Europa, 23, Local 5<br />
                    28224 Pozuelo de Alarcón (Madrid)<br />
                    España.
                  </div>
                </div>

                <p class="mb-1"><strong>JUICING SINCE 2000</strong></p>
                <a href="#" class="store-link">View Store Info</a>
              </div>
            </div>
          </div>
          <!-- <div class="border-left-custom me-4"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
