<div class="custom-container">
  <div class="row g-3">
    <!-- Offer 1 -->
    <div class="col-md-6 col-sm-6 col-12">
      <div class="offer-card">
        <img src="../../assets/images/home/offer-cart-1.png" alt="Offer 1" />
      </div>
    </div>

    <!-- Offer 2 -->
    <div class="col-md-6 col-sm-6 col-12">
      <div class="offer-card">
        <img src="../../assets/images/home/offer-cart-2.png" alt="Offer 2" />
      </div>
    </div>
  </div>

  <!-- Text Section -->
  <div class="center-text">
    <p style="font-size: 18px">
      To redeem your next order
      <a href="#" class="text-color text-decoration-none">Check Conditions</a>
    </p>
    <a href="#" class="text-color">And also the selection of offers</a>
  </div>
</div>
<hr />
