<div class="custom-container py-5 promo">
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-clock"></i>
          <span class="mb-0"> Delivery in 24 hours</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-stopwatch"></i>
          <span class="mb-0"> Choose time</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-truck"></i>
          <span class="mb-0">Free delivery</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-car"></i>
          <span class="mb-0">Click & Car</span>
        </div>
      </div>
    </div>
  </div>
</div>
